body{
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}

h1{
    font-size: 30px;
}

.screen{
    position: absolute;
    width: 320px;
    height: 470px;
    border: solid 1px;
}

#home{
    background-color: red;
}

#hometitle{
    position: absolute;
    top: 80px;
    left: 80px;
    color: white;
}

#homelogo{
    position: absolute;
    left: 50px;
    top: 170px;
    width: 200px;
    height: auto;
}

#getStarted{
    position: absolute;
    margin: 0 90px;
    top: 350px;
    color:white;
}

#existing{
    position: absolute;
    left: 20px;
    top: 100px;
    /*background-color: red;*/
    color:white;
    width: 280px;
    padding: 2px;

}

table {
    position: absolute;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 6px;
    width:100%;
}

thead th {
    background-color: #B5B5B5;
    cursor: pointer;
    /*color: white;*/
}

tbody td {
    background-color: #FF4444;
    cursor: pointer;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7875C9;
}


#addNew{
    position: absolute;
    left: 20px;
    top: 380px;
    width: 280px;
    background-color: #68C75F;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 6px;
    padding: 15px;
}

#title{
    position: relative;
    left: 10%;
}

.buttons{
    position: relative;
    left: 10%;
    right: 10%;
    width: 450px;
    color: white;
    border-radius: 6px;
    margin: 8px 0;
    padding: 12px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.btn2{
    background-color: #B3C9F5;
}

.btn3{
    background-color: #F5D7A6;
    top:30px;
}

.btnCustom{
    background-color: #33B5E5;
    top:30px;
}

#comments{
    position: relative;
    left: 10%;
    right: 10%;
}

#textbox{
    position: absolute;
    height: 80px;
    width: 450px;
    margin: 0px 5px;
    vertical-align: top;
    padding-top:0px;
}
.anyinput{
    position: absolute;
    left: 12%;
    margin: 0 10px;
    padding: 5px;

}

#search{
    position: absolute;
    height: 32px;
    width: 450px;
}

#disimg{
    position: absolute;
    left: 10%;
    width: 300px;
    height: 200px;
}

