body{
    /*padding: 20px;*/
    font-family: 'Open Sans', sans-serif !important;
}
p{
    margin: 0 5px;
}

h1{
    font-size: 30px;
}

.screen{
    position: absolute;
    width: 420px;
    height: 580px;
}

#home{
    background-color: red;
}

#hometitle{
    position: absolute;
    top: 80px;
    left: 80px;
    width: 250px;
    color: white;
}

#homeit{
    position: absolute;
    top: 180px;
    left: 40px;
    width: 320px;
    color: white;
}

#homelogo{
    position: absolute;
    left: 60px;
    top: 240px;
    width: 280px;
    height: auto;
}

#getStarted{
    position: absolute;
    margin: 0 90px;
    font-weight: 2;
    left: 50px;
    top: 500px;
    color:white;
}

#existing{
    position: absolute;
    left: 20px;
    top: 80px;
    /*background-color: red;*/
    color:white;
    width: 360px;
    height: 100px;
    padding: 2px;
    overflow: scroll;

}

table {
    position: absolute;
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0 6px;
    width:100%;
}

thead th {
    background-color: #B5B5B5;
    cursor: pointer;
    /*color: white;*/
}

tbody td {
    background-color: #FF4444;
    cursor: pointer;
}

tr td:first-child,
tr th:first-child {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #7875C9;
}


#addNew{
    position: absolute;
    left: 20px;
    top: 380px;
    width: 360px;
    background-color: #68C75F;
    color: white;
    border: none;
    font-size: 12px;
    border-radius: 6px;
    padding: 15px;
}

#title{
    position: relative;
    left: 14px;
}

.buttons{
    position: relative;
    left: 20px;
    right: 10%;
    width: 360px;
    color: white;
    border-radius: 6px;
    margin: 6px 0;
    padding: 10px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}
.btn2{
    background-color: #B3C9F5;
}

.btn3{
    background-color: #F5D7A6;
    top:30px;
}

.btn4{
    top:400px;
}

.btn5{
    top:160px;
}

.btn6{
    top:280px;
}

.btnCustom{
    background-color: #33B5E5;
    top:30px;
}

#comments{
    position: relative;
    top: 20px;
    left: 20px;
    right: 10%;
}

#textbox{
    position: absolute;
    height: 85px;
    top: 35px;
    width: 360px;
    margin: 0px 5px;
    vertical-align: top;
    padding-top:0px;
}

/*.anyinput{
    position: relative;
    left: 18px;
    height: 32px;
    width: 280px;
    margin: 8px 0;
    padding: 5px;
}*/

#search{
    position: absolute;
    left: 14px;
    height: 32px;
    width: 360px;
    padding: 5px;
}

#disimg{
    position: absolute;
    margin-top: 10px;
    left:36px;
    width: 160px;
    height: 80px;
}

#desc{
    position: absolute;
    left: 20px;
    padding: 5px;
    top: 230px;
}

#taskLog{
    position: absolute;
    padding:6px;
    left: 25px;
    top: 64px;
    width: 260px;
}

#dis{
    width: 100%;
}

#name{
    position: absolute;
    font-size: 22px;
    margin-top:12px;
    margin-left: 45px;
    padding: 20px;
    border: solid 3px #b1b1b1;
}

#details{
    position: absolute;
    top:200px;
}

#form{
    position: relative;
    left: 14px;
    font-size: 14px;
}

.glyphicon, .glyphicon-ok-circle{
    position: absolute;
    font-size:100px;
    color: green;   
}

.glyphicon, .glyphicon-edit{
    position: relative;
    color: #b1b1b1;
    font-size:30px;
    top: 50px;     
    margin-left: 130px;
}

